/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.animated {
  -webkit-animation-duration: 0.8s !important;
  animation-duration: 0.8s !important;
}

@font-face {
  font-family: 'KarlaRegular';
  src: local('KarlaRegular'),
    url('../fonts/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'KarlaBold';
  src: local('KarlaBold'), url('../fonts/Karla-Bold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'KarlaSemiBold';
  src: local('KarlaSemiBold'),
    url('../fonts/Karla-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'IBMPlexBold';
  src: local('IBMPlexBold'),
    url('../fonts/IBMPlexSerif-SemiBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'IBMPlexRegular';
  src: local('IBMPlexRegular'),
    url('../fonts/IBMPlexSerif-Regular.ttf') format('truetype');
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  text-decoration: none;
  color: #c29955;
  cursor: pointer;
}

h1 {
  font-family: 'IBMPlexRegular';
  font-size: 32px;
  line-height: 42px;
}

h2 {
  font-family: 'IBMPlexRegular';
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 15px;
  color: #c29955;
}

p,
span {
  font-family: 'KarlaRegular';
  font-size: 16px;
  line-height: 26px;
  color: #201a17;
}

section {
  margin-bottom: 100px;
}

.hero-hp {
  background: url('../images/hp-hero-min.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: normal;
  padding: 223px 0;
  position: relative;
}

.hero-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  border-top: 1px solid #000;
  padding-top: 20px;
}

.hero-logo img {
  width: 100%;
  max-width: 100px;
}

@media (max-width: 500px) {
  .hero-logo {
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }
}

.transparent-container {
  z-index: 1;
}

a.nav-link {
  position: relative;
  font-family: 'KarlaRegular';
  font-size: 16px;
  color: #ffffff !important;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff transparent;
}

a.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

a.nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.offices-hp-inner {
  overflow-x: visible;
  position: relative;
}

.office-carousel {
  width: 66.33333%;
  height: 329px;
  margin-left: 50px;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
}

section.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 83px;
  padding-bottom: 83px;
}

.w-33 {
  width: 33% !important;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.w-63 {
  width: 63% !important;
}

button:not(:disabled) {
  background: none;
}

.item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px !important;
  position: relative;
  padding: 8px 14px 20px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.item img {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 4px;
}

.item > div {
  border-radius: 4px;
  height: 318px;
}

.item .position-absolute {
  bottom: 32px;
  left: 28px;
}

.item .position-absolute p {
  margin-bottom: 5px;
  color: #ffffff;
}

#__next {
  padding: 20px;
}

.office-carousel-item-text {
  position: absolute;
  bottom: 23px !important;
  left: 28px !important;
}

.office-carousel .react-multiple-carousel__arrow,
.custom-arrow {
  bottom: 0;
  top: 80%;
  transition: all 0.4s ease;
}

.office-carousel .react-multiple-carousel__arrow:hover::before,
.community-carousel .react-multiple-carousel__arrow:hover::before,
.custom-arrow:hover::before {
  transform: scale(1.1);
}

.office-carousel .react-multiple-carousel__arrow--left,
.custom-arrow-left {
  left: 8px;
  width: 18px;
  height: 21px;
}

.react-multiple-carousel__arrow {
  display: unset;
}

.office-carousel .react-multiple-carousel__arrow--right,
.custom-arrow-right {
  width: 18px;
  height: 21px;
  left: 5%;
}

.office-carousel {
  position: unset;
}

.office-carousel .react-multiple-carousel__arrow::before,
.custom-arrow:before {
  text-align: center;
  z-index: 2;
  position: relative;
}

.office-carousel .react-multiple-carousel__arrow:hover,
.community-carousel .react-multiple-carousel__arrow:hover,
.custom-arrow:hover {
  background: none;
}
.office-carousel .react-multiple-carousel__arrow--right::before,
.community-carousel .react-multiple-carousel__arrow--right::before,
.custom-arrow-right::before {
  content: url('../images/arrow-right.png');
}
.office-carousel .react-multiple-carousel__arrow--left::before,
.community-carousel .react-multiple-carousel__arrow--left::before,
.custom-arrow-left::before {
  content: url('../images/arrow-left.png');
}

.btn {
  border-radius: 4px;
  padding: 12px 42px;
  transition: all 0.2s ease;
  min-width: 184px;
}

.light-variant:hover {
  color: #d3d3d3;
}

.dark-variant {
  background: #000 !important;
  color: #ffffff;
}

.light-variant {
  background: #c29955;
  color: #ffffff;
}

.hp-btn {
  margin-right: 44px;
}

.underlined-btn {
  font-family: 'KarlaRegular';
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 3px;
  transition: all 0.2s ease;
}

.dark-underlined {
  color: #171717;
  border-bottom: 1px solid #171717;
}

a.underlined-btn:hover,
a.offices-underlined-btn:hover {
  color: #c29955;
  border-bottom: 1px solid #c29955;
}

.btn.dark-variant:hover {
  color: #ffffff;
  background: #c29955 !important;
}

.office-carousel
  button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right:disabled {
  display: block !important;

  visibility: visible !important;
  border: 1px solid #000000 !important;
}

.disable {
  display: block !important;
  visibility: visible !important;
}
.disabled:before {
  background: black;
}

.office-carousel
  button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  display: block !important;
}
.office-btn {
  margin-bottom: 20px;
}

.offices-hp h2 {
  margin-bottom: 15px;
}

.offices-hp p {
  margin-bottom: 32px;
}

section.benefits-hp {
  background: url('../images/unique-benefits-min.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 98px 0 99px 0;
}

.benefits-hp a {
  position: absolute;
  bottom: 0;
}

.benefits-hp .card-body {
  padding-left: 0;
}

.benefits-content-wrapper {
  background: #ffffff;
  width: 60%;
  padding: 56px 96px 100px 70px;
  border-radius: 3px;
}

.benefits-content-wrapper .card-img-icon {
  margin-bottom: 27px;
}

.card-body-com-item img.card-img-icon {
  max-height: 30px;
}

.benefits-content-wrapper .card-title {
  margin-bottom: 13px;
}

.benefits-content-wrapper h2 {
  margin-bottom: 33px;
}

/* .benefits-content-wrapper .card-body {
  padding-right: 6.5rem;
  padding-left: 0;
} */

.benefits-content-wrapper .card:nth-child(2) {
  width: 40% !important;
}

.benefits-content-wrapper .card:nth-child(2) .card-body {
  padding-right: 0;
}

section.community {
  margin-bottom: 177px;
}

.community .container {
  position: relative;
}

.community h2 {
  margin-bottom: 15px;
}

.community p {
  margin-bottom: 36px;
}

.community .container {
  position: relative;
}

.community-carousel,
.community-carousel .react-multi-carousel-list,
.office-carousel,
.office-carousel .react-multi-carousel-list {
  position: unset;
  cursor: -webkit-grab;
  cursor: grab;
}

.community-carousel * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.community-carousel:active,
.office-carousel:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.community-carousel .card {
  border: 1px solid #c1c2be;
  margin-right: 31px;
}

.community-carousel .card-body {
  height: 100%;
  max-height: 380px !important;
  min-height: 380px;
}

.community-carousel .card-body img {
  max-height: 30px;
  max-height: 30px;
}

.community-carousel .react-multi-carousel-list {
  min-height: 282px;
}

.com-dots {
  bottom: -15%;
  cursor: auto;
}

.com-dots li.react-multi-carousel-dot button {
  border: 1px solid #171717;
  width: 10px;
  height: 10px;
  margin-right: 13px;
}

.com-dots li.react-multi-carousel-dot button:hover {
  background: #171717;
}

.com-dots li.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: #171717;
}

.community-carousel .react-multiple-carousel__arrow {
  bottom: -17.3%;
}

.community-carousel .react-multiple-carousel__arrow--left {
  left: 39%;
}

.community-carousel .react-multiple-carousel__arrow--right {
  right: 40%;
}

nav.position-absolute.w-100.navbar.navbar-expand.navbar-light.bg-transparent {
  padding-left: 0px !important;
}

.footer-contact {
  background: #ececec;
  padding: 145px 150px 228px 77px;
}

.footer-contact h2 {
  margin-bottom: 15px;
}

.footer-contact p:first-of-type {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-contact p {
  margin-bottom: 32px;
}
.contact-card:nth-child(4) .card-img {
  margin-bottom: 36px;
  margin-top: 23px;
  width: 150px !important;
}

.contact-card:nth-child(1) .card-img {
  margin-top: 6px !important;
}

.footer-map {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 8rem;
}

.footer-map img {
  display: block;
  margin-top: 50%;
  margin: auto;
}

.footer {
  position: relative;
  background: #171717;
  padding-bottom: 4px !important;
}

.footer .list-group {
  max-width: 80px;
}

.footer .list-group .list-group-item {
  margin-bottom: 11px;
  text-transform: uppercase;
}

.footer .list-group .list-group-item p {
  margin-bottom: 0;
}

.col-custom {
  flex: 0 0 35.333333%;
  max-width: 35.666667%;
}

.footer-logo-wrapper {
  padding-top: 45px;
  padding-bottom: 22px;
}

.footer-social p {
  margin-bottom: 11px;
}

.footer-contact-small-wrapper {
  font-size: 16px;
  line-height: 19px;
  font-family: 'KarlaRegular';
  margin-bottom: 18px;
}

.footer-contact-small-wrapper:first-child {
  margin-bottom: 7px;
}

.footer-social img {
  margin-right: 9px;
}

.footer-address p {
  line-height: 19px;
}
.footer-adv-logo-cont {
  content: url('../images/adv-logo.png');
  position: absolute;
  width: 90px;
  height: 26px;
  bottom: 0;
  right: 26rem;
}

.hero-cont {
  background: #fff;
  padding: 72px 156px 74px 59px;
  border-radius: 3px;
  margin-left: -59px;
}

.hero-cont img {
  margin-bottom: 16px;
}

.hero-cont h2 {
  margin-bottom: 13px;
}

.hero-cont p {
  font-size: 16px;
  line-height: 24px;
}

section.hero-rt {
  background: url('../images/rt-hero-min.png') center no-repeat;
  background-size: cover;
}

section.sfzone .container > div > p {
  margin-bottom: 75px;
}

.sf-img {
  width: calc(50% - 5.5px);
}

.sf-img.left {
  margin-right: 11px;
}

.mb-64 {
  margin-bottom: 64px;
}

iframe {
  width: 100% !important;
}

img[type='whole'],
div[type='whole'] {
  padding-top: 11px;
}

section.sfzone {
  margin-bottom: 36px;
}

.hero-g {
  background-image: url('../images/g-hero4.jpg');
}

.bigger-container.img-left-type > .animated:first-of-type {
  margin-right: 78px;
}

.places-container div.ml-auto,
.places-container div.mr-auto {
  max-width: 435px;
}

.places-container {
  position: unset;
  margin-bottom: 80px;
  margin: auto;
}

.places-container h2 {
  margin-bottom: 15px;
}

.places-container p:first-of-type {
  margin-bottom: 21px;
}

.places-container p,
.places-container .places-contact {
  margin-bottom: 32px;
}

.img-left-type .places-container {
  margin-left: 0;
}

.img-right-type .places-container {
  margin-right: 0;
}

.places-contact img {
  width: 16px;
  height: 16px;
  margin-right: 11px;
}

.places-contact a {
  display: inline-block;
  width: 100%;
  max-width: 153px;
  align-items: center;
}

.places-contact a:first-of-type {
  margin-bottom: 13px;
}

.places-container button {
  margin-bottom: 100px;
}

.bigger-container {
  max-width: 1410px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.bigger-container.img-right-type > .animated > img {
  margin-left: 78px;
}

.bigger-container:not(:last-child) {
  margin-bottom: 80px;
}

.hero-b {
  background: url('../images/b-hero.jpg') no-repeat center;
  background-size: cover;
}

.unique-cards .card {
  width: calc(25% - 63px) !important;
}

.unique-cards .card .card-body {
  padding-left: 0;
}

.unique-cards .card .card-body a {
  align-self: flex-end;
}

.unique-cards .card .card-body img {
  margin-bottom: 31px;
  max-width: 165px;
}

.unique-cards .card .card-body h5 {
  margin-bottom: 13px;
}

.unique-cards .card:not(:last-child) {
  margin-right: 54px;
}

section.upae h2 {
  margin-bottom: 15px;
}

.upae-cont > .w-50 > p {
  margin-bottom: 80px;
}

.unique-cards .card .card-body img {
  max-height: 44px;
  min-height: 44px;
}

.architecture-container .arch-imgs {
  margin-bottom: 94px;
}
.arch-imgs {
  display: flex;
}

div[title='Architecture'] {
  margin-bottom: 72px;
}

div[title='History and architecture'] {
  margin-bottom: 96px;
}

.half-p {
  width: calc(50% - 22px);
}

.d-flex .half-p:first-child {
  margin-right: 44px;
}

.award-item {
  padding: 0;
  width: calc(33% - 59px);
}

.award-item img {
  margin-bottom: 30px;
  max-height: 103px;
}

.awards-container {
  padding-right: 65px;
  padding-left: 65px;
}

.award-item p {
  font-family: 'KarlaBold';
}

.about-container h2 {
  margin-bottom: 15px;
}

.container-p-img div:first-child {
  margin-right: 45px;
}

.container-p-img div {
  width: calc(50% - 22.5px);
}

.player {
  width: 100%;
}

.exc-cards-container .card {
  width: calc(33% - 30px);
  margin-top: 30px;
}

.exc-cards-container .card:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}

section.ex-community {
  margin-bottom: 137px;
}

li[data-index='10'] .card-body-com-item img,
li[data-index='5'] .card-body-com-item img,
li[data-index='8'] .card-body-com-item img {
  margin-bottom: 21px !important;
}

.exc-cards-container .card:nth-child(1) img,
.exc-cards-container .card:nth-child(8) img {
  margin-bottom: 21px !important;
}

a.nav-link.cur-page::before {
  transform: scaleX(1);
  visibility: visible !important;
}

.menu-section-background {
  width: 100%;
  height: 76px;
  position: relative;
  margin-bottom: 100px !important;
  background: url('../images/menu-img.png') no-repeat center;
  background-size: cover;
}

.menu-section-background nav {
  padding-top: 15px;
  padding-left: 0px;
}

.navbar-light .navbar-toggler {
  border: none;
}

nav.position-absolute.w-100.navbar.navbar-expand-lg.navbar-light.bg-transparent {
  padding-top: 15px !important;
  padding-left: 0 !important;
}

section.benefits {
  background-color: #ececec;
  padding-top: 96px;
  padding-bottom: 117px;
}

.benefits-container > .benefits-left {
  margin-right: 98px;
}

.benefits-container > .benefits-left > p {
  margin-bottom: 32px;
}

.benefit-card {
  width: calc(50% - 34px);
  margin-bottom: 29px;
}

.benefit-card:nth-child(2n + 1) {
  margin-right: 67px;
}

.benefit-card-img-wrapper {
  width: 50px;
  height: 50px;
  background: #ffffff;
  padding: 7.5px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  margin-right: 19px;
}

p.small-title {
  font-family: 'KarlaBold';
  font-size: 18px;
  line-height: 21px;
  color: #171717;
}

.image-gallery-thumbnails-wrapper {
  position: relative;
  width: 82%;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 120px;
  width: 60px;
  position: absolute;
  bottom: -29%;
  right: 0;
}

.image-gallery-right-nav {
  right: 0;
  height: 100%;
  padding: 0;
}

.image-gallery {
  -webkit-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  width: calc(50% - 53px);
  margin-right: 53px;
}

.image-gallery-custom-right-nav {
  width: 22px;
  height: 21px;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-25%, -25%);
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:focus {
  outline: none;
  border: 3px solid #201a17;
}

.image-gallery-custom-right-nav:hover {
  transform: scale(1.1) translate(-25%, -25%);
  cursor: pointer;
}

.image-gallery-custom-right-nav-wrapper {
  width: 100px;
  height: 110px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  transform: translateY(100%);
}

.image-gallery-fullscreen-buttonactive {
  margin-right: 10px;
  z-index: 2;
}

.image-gallery-slide.center {
  cursor: unset;
}

.office-info-wrapper {
  width: calc(50% - 53px);
}

.office-info-wrapper h2 {
  color: #c29955;
  margin-bottom: 11px;
  margin-top: 17px;
}

.office-info-wrapper .btn {
  margin-bottom: 32px;
}

.office-info-additional {
  margin-bottom: 32px;
}

.office-info-additional > div {
  width: calc(50% - 36px);
}

.office-info-additional > div:nth-child(2n + 1) {
  margin-right: 36px;
}

.office-info-additional > div > p {
  margin-bottom: 2px;
  line-height: 24px;
  font-size: 16px;
}

.office-info-additional > div > p:first-of-type {
  margin-right: 15px;
}

hr.separator {
  margin: 0;
  margin-bottom: 22px;
  border-top: 1px solid #d8d8d8;
}

.available-office-person-icon-wrapper {
  width: 68px;
  height: 68px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-right: 22px;
}

.available-office-person-name {
  color: #171717;
  margin-bottom: 2px;
}

.available-office-person-sub {
  color: #8aadc0;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}

.available-office-person-tel {
  margin-right: 11px;
}

.available-office-container:not(:last-child) {
  margin-bottom: 134px;
}

.availability-container-available > div > h2 {
  color: #c29955;
  margin-bottom: 32px;
}

.availability-container-unavailable > div > h2 {
  color: #c29955;
  margin-bottom: 17px;
}

.availability-container-unavailable > div {
  width: 42.33333%;
}

.availability-container-unavailable > div > div > p {
  font-family: 'KarlaSemiBold';
  margin-bottom: 27px;
}

.btn[type='submit'] {
  border: none;
}

.form-control {
  border: 1px solid #201a17;
  color: #171717 !important;
  border-radius: 3px;
  padding: 21px 34px;
}

::-webkit-input-placeholder {
  font-family: 'KarlaRegular';
  color: #171717 !important;
  opacity: 1;
  font-size: 16px;
  line-height: 19px;
}

::-moz-placeholder {
  font-family: 'KarlaRegular';
  color: #171717 !important;
  opacity: 1;
  font-size: 16px;
  line-height: 19px;
}

:-ms-input-placeholder {
  font-family: 'KarlaRegular';
  color: #171717 !important;
  opacity: 1;
  font-size: 16px;
  line-height: 19px;
}

::-ms-input-placeholder {
  font-family: 'KarlaRegular';
  color: #171717 !important;
  opacity: 1;
  font-size: 16px;
  line-height: 19px;
}

::placeholder {
  font-family: 'KarlaRegular';
  color: #171717 !important;
  opacity: 1;
  font-size: 16px;
  line-height: 19px;
}

.form-group {
  margin-bottom: 11px;
}

label.form-label {
  font-family: 'KarlaSemiBold';
  color: #171717;
  font-size: 18px;
  line-height: 24px;
}

.form-control:focus {
  color: #495057;
  border: 1px solid #171717;
  box-shadow: none;
  outline: auto;
}

.navbar-light .navbar-toggler-icon {
  background-image: url('../images/hamburger.svg');
  transition: all 0.2s ease;
}

.navbar-light .expanded-toggler .navbar-toggler-icon {
  background-image: url('../images/cancel.svg');
  transition: all 0.2s ease;
}

.card-body-com-item {
  padding: 58px 52px 58px 36px;
}

.list-group-wrapper {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.contact-info-item {
  margin-bottom: 16px;
}

.contact-info-item img {
  margin-right: 18px;
}

.form-check {
  margin-bottom: 25px;
}

input[type='checkbox'] {
  cursor: pointer;
}

.contact-cards-wrapper {
  padding: 0 30px;
}

.contact-card {
  width: calc(25% - 53px);
  margin-right: 70px;
  padding: 0 0 15px;
  border: none;
  margin-bottom: 43px;
}

.contact-card:nth-child(4n) {
  margin-right: 0;
}

.contact-people-cont h2 {
  margin-bottom: 58px;
}

.contact-card img {
  margin-bottom: 23px;
}

p.person-name {
  font-size: 18px;
  font-family: 'KarlaSemiBold';
  color: #171717;
  line-height: 21px;
  margin-bottom: 3px;
}

p.person-function {
  font-size: 18px;
  color: #8aadc0;
  line-height: 21px;
  margin-bottom: 9px;
}

[dir='rtl'] .carousel-container {
  direction: ltr;
}

.list-group-item p:hover {
  color: #c29955 !important;
}

.list-group-item p:hover a,
.footer-contact-small-wrapper a:hover {
  color: #c29955 !important;
}
.footer-fb:hover p {
  color: #c29955 !important;
}

a.w-50.footer-map {
  transition: all 0.4s ease;
}

/* a.w-50.footer-map:hover {
  transform: scale(1.05);
} */

.footer > .d-flex {
  overflow: hidden;
}

.contact-info-item p:hover {
  color: #c29955;
}

.navbar-collapse > div {
  margin-left: auto;
}

.connectivity {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 200;
}

.contact-info-item.d-flex.align-items-center p:hover {
  color: #201a17;
  cursor: default;
}
.connectivity-wrapper {
  width: 59.5%;
  margin-top: 40px;
}

.img-info {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 14px;
}

button.langbtn {
  background: pink !important;
  color: black !important;
}

p.normal {
  line-height: 20px;
}

p.bold {
  font-family: 'KarlaSemiBold';
  margin-bottom: 0;
}
div.map-text {
  position: absolute;
  top: 8.5rem;
  left: 25%;
  transform: translate(-50%);
}
div.map-text p {
  color: white;
  text-align: center;
}
button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  display: block;
  visibility: visible;
}
.custom-arrow {
  border: none;
  position: absolute;
}
.custom-arrow-left.disable,
.custom-arrow-right.disable {
  opacity: 0.4;
}

.contact-map {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

/*- Media query ------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1200px) {
  iframe {
    height: 550px !important;
  }

  .hero-cont {
    padding-right: 72px !important;
  }

  .contact-card {
    width: calc(25% - 25px);
    margin-right: 30px;
  }

  .community-carousel .react-multiple-carousel__arrow--right {
    right: 37%;
  }

  .community-carousel .react-multiple-carousel__arrow--left {
    left: 36%;
  }
}

@media only screen and (max-width: 1100px) {
  .bigger-container.img-left-type > .animated > img {
    margin-right: 15px;
  }
  .bigger-container.img-right-type > .animated > img {
    margin-left: 15px;
  }
}

@media only screen and (min-width: 991px) {
  .benefits-container > div.benefits-left {
    margin-right: 20px;
    width: calc(33% - 20px);
  }
  .benefits-container > div.d-flex {
    width: calc(66%);
  }
}

/* 991 ---------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 991px) {
  .hero-cont {
    width: 100% !important;
  }

  .white-bg {
    background: #fff;
    margin-bottom: 0px !important;
  }

  .navbar-collapse {
    background: #fff;
    z-index: 100;
  }

  .contact-card {
    width: calc(33% - 30px);
    margin-right: 30px;
    padding: 0 0 15px 0;
  }

  .contact-card:nth-child(4n) {
    margin-right: 30px;
  }

  .contact-card:nth-child(3n) {
    margin-right: 0;
  }

  .navbar-collapse .navbar-nav a {
    margin-left: auto;
  }

  .navbar-collapse a.nav-link {
    color: #201a17 !important;
    font-size: 21px;
    font-weight: 1;
    line-height: 25px;
    min-width: 122px;
    text-align: end;
  }

  .navbar-nav {
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: solid #000 1px;
    margin-top: 20px;
  }

  a.nav-link::before {
    background-color: #000;
  }

  .hero-hp .w-40 {
    width: 70% !important;
  }

  .offices-hp-inner {
    flex-direction: column;
  }

  .offices-hp-inner .w-33 {
    width: 50% !important;
    margin-bottom: 20px;
  }

  .office-carousel {
    width: 100%;
    margin-left: 0;
  }

  .office-carousel .react-multiple-carousel__arrow,
  .custom-arrow {
    bottom: -52px;
    top: 100%;
  }

  .benefits-hp .benefits-content-wrapper.w-63 {
    width: 100% !important;
  }
  .custom-arrow-right {
    left: 10%;
  }
  .card-body-com-item {
    padding: 1.25rem;
    padding-top: 2rem;
  }

  .footer-contact {
    padding-right: 15px;
  }

  iframe {
    height: 410px !important;
  }

  .award-item {
    width: 50%;
  }
  .unique-cards .card {
    width: calc(50% - 27px) !important;
    margin-top: 30px;
  }

  .unique-cards .card:not(:nth-child(2n + 1)) {
    margin-right: 0;
  }

  .upae-cont > .w-50 > p {
    margin-bottom: 30px;
  }

  .container-p-img {
    flex-direction: column;
  }

  .container-p-img div,
  .container-p-img img {
    width: 100%;
  }

  .exc-cards-container .card {
    width: calc(50% - 15px);
    margin-top: 30px;
    margin-right: 0;
  }

  .exc-cards-container .card:not(:nth-child(3n + 3)) {
    margin-right: 0;
  }

  .exc-cards-container .card:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  .benefits-container {
    flex-direction: column;
  }

  .benefits-left {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .bigger-container {
    max-width: 720px;
  }

  .bigger-container {
    flex-direction: column;
  }

  .places-container {
    margin: unset;
  }

  .bigger-container.img-right-type > .animated > img {
    margin-left: 0 !important;
  }
  .places-container p,
  .places-container .places-contact {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
  }

  .places-contact a img {
    margin-bottom: 0 !important;
  }

  .places-container .btn {
    margin-bottom: 30px;
  }

  .bigger-container {
    border-bottom: 1px solid #000;
    padding-bottom: 50px;
  }

  .bigger-container.img-left-type img,
  .bigger-container.img-right-type img {
    margin-bottom: 20px;
  }

  .bigger-container.img-left-type > .animated:first-of-type {
    margin-right: 0px;
  }

  .contact-info .d-flex {
    flex-direction: column;
  }

  .contact-info .w-50 {
    width: 100% !important;
  }

  .contact-form-wrapper {
    width: 100% !important;
  }

  .connectivity-wrapper {
    width: 100%;
  }

  .contact-info-item.d-flex.align-items-center {
    flex-direction: row;
  }
  .connectivity-wrapper {
    margin-bottom: 40px;
  }
}

/* 767px ------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {
  .hero-hp .w-40 {
    width: 100% !important;
  }
  .footer-contact {
    padding: 50px 0;
  }

  .item {
    padding-right: 14px;
    padding-left: 0;
  }
  .benefits-content-wrapper {
    padding: 56px 20px 50px 35px;
  }
  .card-body-com-item .card-img-icon {
    max-height: 20px;
  }
  .community-carousel .react-multiple-carousel__arrow--left {
    left: 23%;
  }

  .community-carousel .react-multiple-carousel__arrow--right {
    right: 25%;
  }

  .footer > a > .d-flex {
    flex-direction: column;
  }
  .footer > a > .d-flex > .w-50 {
    width: 100% !important;
  }
  .w-100.footer-map {
    padding-top: 4rem;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  div.map-text {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translate(-50%);
  }
  div.map-text p {
    color: white;
    text-align: center;
  }

  .row {
    width: 100%;
  }

  .footer-address,
  .footer-social {
    padding: 0;
  }

  .footer-map.w-50 {
    height: 300px;
  }

  /* a.footer-map:hover {
    transform: scale(1.1);
  } */

  iframe {
    height: 300px !important;
  }

  .upae-cont > .w-50 {
    width: 100% !important;
  }

  .sf-img.left {
    margin-bottom: 10px;
  }

  .sf-img {
    width: calc(100%);
  }

  .architecture-container > .w-50 {
    width: 100% !important;
  }

  div[title='History and architecture'] div {
    flex-direction: column;
  }

  div[title='History and architecture'] .half-p {
    width: 100% !important;
  }

  div[title='History and architecture'] .half-p:first-child {
    margin-right: 0;
  }

  .availability-container-unavailable div {
    width: 100%;
  }

  .sfzone .d-flex {
    flex-direction: column;
  }

  .sfzone .d-flex > img {
    width: 100%;
  }

  .sfzone .w-50 {
    width: 100% !important;
  }

  .sfzone .w-50.ml-auto {
    margin-left: 0;
  }

  .contact-card {
    width: calc(50% - 15px);
    margin-right: 30px;
  }

  .contact-card:nth-child(2n) {
    margin-right: 0;
  }
  .contact-card:nth-child(3n) {
    margin-right: 30px;
  }

  section,
  div[title='History and architecture'],
  div[title='Architecture'] {
    margin-bottom: 50px;
  }
  section.offices {
    margin-bottom: 75px;
  }
  section.ex-community {
    margin-bottom: 25px;
  }
  section.benefits-hp {
    padding: 50px 0 50px;
  }
  section.community {
    margin-bottom: 135px;
  }
  .architecture-container .arch-imgs {
    margin-bottom: 50px;
  }
  .upae-cont > .w-50 > p {
    margin-bottom: 0px;
  }
  section.sfzone .container > div > p {
    margin-bottom: 30px;
  }
  .mb-64 {
    margin-bottom: 32px;
  }
  .ex-community .container > .w-50 {
    width: 100% !important;
  }

  .footer > .d-flex {
    flex-direction: column;
  }
} /* end of 700 */

/* 576px ------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 576px) {
  section.benefits-hp {
    background: #fff;
  }
  .offices-hp-inner .w-33 {
    width: 100% !important;
  }
  section.hero {
    position: relative;
    padding-top: 300px;
    margin-bottom: 300px;
  }

  .hero-cont {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(50%);
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 2px solid #201a17;
    width: unset !important;
  }

  .card.border-white .card-body .card-img-icon {
    margin-bottom: 15px;
  }

  section.benefits-hp {
    padding: 50px 0 0;
  }
  section.hero-g {
    margin-bottom: 200px;
  }
}

/* 530px ------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 530px) {
  .contact-card {
    width: 100%;
    margin: 0;
  }
  .card-img {
    max-width: 210px;
  }
  .contact-card:not(:last-child) {
    margin-bottom: 30px;
  }
  .mob-none {
    display: none;
  }
  .contact-people-cont h2 {
    margin-bottom: 58px;
    text-align: center;
  }
}

/* 485px ------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 485px) {
  .office-carousel .react-multiple-carousel__arrow--right,
  .custom-arrow-right {
    width: 18px;
    height: 15px;
    left: 15%;
  }
  .container.awards-container h2 {
    margin-bottom: 30px;
  }
  .award-item {
    width: 80%;
  }
  .community-carousel .card {
    margin-right: 0px;
  }
  .card-body-com-item {
    padding-top: 3rem;
  }
  .card-body-com-item .card-img-icon {
    max-height: 31px;
  }

  .benefit-card:nth-child(2n + 1) {
    margin-right: 10px;
  }

  .benefit-card {
    width: calc(50% - 5px);
    margin-bottom: 15px;
  }

  .exc-cards-container .card:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .exc-cards-container .card:not(:nth-child(3n + 3)) {
    margin-right: 0;
  }
  .exc-cards-container .card {
    width: 100%;
  }
  .availability-container-unavailable > div > h2 {
    text-align: left;
  }
}

@media only screen and (max-width: 420px) {
  .offices-btn-wrap {
    display: block !important;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
  }
  .offices-btn-wrap a {
    display: block;
  }
  .offices-btn-wrap .btn {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .offices-btn-wrap .btn {
    max-width: 200px;
  }
  .offices-btn-wrap .underlined-btn {
    text-align: left !important;
    max-width: 160px;
  }

  section.hero {
    margin-bottom: 370px;
  }

  section.hero-g {
    margin-bottom: 250px;
  }
  .hp-btn {
    margin-bottom: 10px;
  }
  .community-carousel .react-multiple-carousel__arrow--left {
    left: 18%;
  }

  .community-carousel .react-multiple-carousel__arrow--right {
    right: 21%;
  }
}

/* 380px ------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 380px) {
  .contact-card {
    width: 100%;
    margin-right: 0 !important;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .community-carousel .card-body {
    height: 100%;
    max-height: 460px !important;
    min-height: 460px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
  .community-carousel .card-body {
    height: 100%;
    max-height: 470px !important;
    min-height: 260px;
  }
}

.advertia-wrap {
  display: flex;
  overflow: hidden;
  height: 32px;
  margin-top: 123px;
}

.advertia-wrap--end {
  justify-content: flex-end;
}

.advertia {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: -4px;
  font-size: 62.5%;
  --translate-y: -70px;
}

.advertia:hover .advertia__xoxo {
  opacity: 0;
  transform: translateY(15px);
}

.advertia:hover .advertia__logo svg {
  fill: #fffcf5;
  transform: translateX(var(--translate-y));
}

.advertia:hover .advertia__title {
  opacity: 1;
  transform: translateX(var(--translate-y));
}

.advertia:hover .advertia__title svg {
  fill: #fffcf5;
}

.advertia--light:hover .advertia__logo svg {
  fill: #282828;
}

.advertia--light:hover .advertia__title svg {
  fill: #282828;
}

.advertia__xoxo {
  color: #00f;
  font-family: Arial;
  font-size: 0.95rem;
  font-weight: 700;
  margin-right: 18px;
  transform: translateZ(0);
  transition: opacity 0.4s, transform 0.4s;
}

.advertia__logo svg {
  width: 42px;
  height: 30px;
  fill: #00f;
  transform: translateZ(0);
  transition: fill 0.4s, transform 0.4s;
}

.advertia__title {
  padding-left: 10px;
  opacity: 0;
  transform: translateZ(0);
  transition: opacity 0.4s, transform 0.4s;
}

.advertia__title svg {
  width: 55px;
  height: 27px;
  fill: #e6495a;
  transition: fill 0.4s;
}

.advertia-logo-wrapper {
  margin-top: 130px;
}
